/* header */

html,body {
    margin:0;
    padding:0;
}

.header {
    display: flex;
    height: 80px;
    border-bottom: 0.5px solid grey;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.header__glass {
    position: relative;
    bottom: 35px;
    left: 10px;
}

.header__glass-source {
    width: 10px;
    height: 10px;
    position: absolute;
}

.header__small-container {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__image {
    height: 5px;
    width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__image-source {
    height: 70px;
    width: 70px;
}

.header__burger {
    height: 20px;
    width: 20px;
    display: flex;
}

.header__textarea {
    width: 210px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
    padding-top: 15px
}

.header__nav {
    display: none;
}


/*let's ride section  */



.let-ride {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px 0px 100px 0px;
}

.let-ride__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.let-ride__container_small {
    text-align: center;
}

.let-ride__header {
    font-size: 48px;
    font-weight: 600;
}

.let-ride__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.let-ride__button {
    line-height: 2.5;
    padding: 0px 7px 0px 7px;
    font-size: 17px;
    width: 150px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #523be4;
    font-weight: 60;
}

.let-ride__button--empty {
    line-height: 2.5;
    padding: 0px 7px 0px 7px;
    font-size: 17px;
    width: 150px;
    color: #000;
    text-align: center;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 1px solid grey;
    font-weight: 600;
}

.let-ride__image{
    width: 95%;
    height: 95%;
}

/* Drive - with section */ 

.drive-with {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
    background-color: #F4F4F9;
    padding: 40px 0px 40px 18px;
}

.drive-with-lyft__header {
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
}

.drive-with-set__header {
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    line-height: 1.2;
}

.drive-with__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    justify-content: left;
}

.drive-with__small-container {
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    line-height: 1.5;
}

.drive-with__text-section {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.drive-with__text {
    font-size: 17px;
    font-weight: 300;
}

.drive-with__text--bold {
    font-size: 17px;
    font-weight: 600;
}

.drive-with__icon {
    width: 25px;
    height: 25px;
}

.drive-with__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.drive-with__how-driver-pay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.drive-with__pic {
    padding-right: 20px;
    padding-bottom: 100px;
}

.drive-with__woman {
    width: 95%;
    height: 95%;
}

.drive-with__feedback {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center
}

.drive-with__feedback-text {
    font-size: 20px;
    font-weight: 40;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 50px;
}

.drive-with__feedback-sign {
    font-size: 20px;
    font-weight: 40;
    line-height: 1.5;
    width: 100%;
}

.drive-with__feedback-text--italic {
    font-weight: 30;
    font-style: italic;
    font-size: 20px;
}

.drive-with__driver {
    width: 80px;
    height: 80px;
}

.drive-with__slider {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.drive-with__points {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.drive-with__arrow {
    width: 25px;
    height: 25px;
}

.point {
    width: 10px;
    height: 10px;
}

.drive-with__feedback-right {
    display: none;
}

.drive-with__feedback-left {
    display: none;
}

/* Ride with Lyft */

.ride {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px 100px 0px;
    background-color: #FFFFFF;
}

.ride__head {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}

.ride__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    padding-left: 3px;
}

.ride__point {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ride-with-lyft__header {
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
}

.ride__header {
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    line-height: 1.2;
}

.ride__text {
    font-size: 17px;
    font-weight: 300;
    width: 100%;
}

.ride__text--bold {
    font-size: 17px;
    font-weight: 600;
    width: 100%;
}

.ride__icon {
    width: 20px;
    height: 20px;
}

.ride__screenshot {
    height: 100%;
    width: 100%;
}

.ride__getride {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}

.ride__pink {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 40px;
}

.ride-pink__text {
    font-size: 15px;
}

.ride__pink-image {
    display: flex;
    width: 100px;
    height: 30px;
}

.ride__pink-link {
    color:#000;
}

/*choose ride */

.ride__Ride-Bike-Scoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
    padding: 10px 0px 10px 0px;
}

.ride-bike__header {
    font-size: 30px;
    font-weight: 600;
    width: 100%;
}

.ride-bike__text {
    font-size: 17px;
    font-weight: 300;
    width: 100%;
}

.ride__slider-container {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.ride__slider-arrows {
    width: 25px;
    height: 25px;
}

.ride-cards__text {
    font-size: 13px;
    font-style: italic;
    width: 100%;
    text-align: center;
    color: grey;
    width: 80%
}

.ride__cards {
    text-align: center;
    color: grey;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estimation pink section */

.estimation {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #DCDCFF;
    gap: 10px;
    padding: 0px 0px 5px 0px;
    width: 100%;
}

.estimation__container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
}

.estimation__header {
    font-size: 26px;
    font-weight: 600;
}

.estimation_textarea {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 15px;
    padding: 4px 10px 0px 0px;
    display: flex;
    position: relative;
    text-align: left;
    padding-top: 20px;
}

.estimation__textareas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 100%;
}

.estimation__button {
    line-height: 2.5;
    padding: 0px 7px 0px 7px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    color: #000000;
    border-radius: 30px;
    background-color: #FFFFFF;
    position: relative;
    font-weight: 60;
}

.estimation__buttons {
    width: 45px;
}

.estimation__point {
    width: 1px;
    height: 1px;
}

.estimation__points {
    position: relative;
    bottom: 35px;
    right: 120px;
}

.estimation__pointss {
    display: flex;
    position: relative;
    bottom: 15px;
    left: 30px;
}



/* Safety section */

.safety {
    background: #f4f4fa;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 100px 20px 100px 20px;
    gap: 6px;
}

.safety-first__header {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.safety__header {
    font-size: 30px;
    font-weight: 600; 
    line-height: 1.2;
}

.safety__text {
    font-size: 17px;
    font-weight: 300; 
}

.safety__button {
    line-height: 1.5;
    padding: 0px 20px 0px 20px;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: #523be4;
    font-weight: 60;
}

.safety__image-source {
    width: 100%;
    height: 100%;
}

.safety__smallheader {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.safety__text--bold{
    font-size: 17px;
    font-weight: 600;
}

.safety__arrow {
    width: 20px;
    height: 20px;
}

/* accessibility */

.accessibility__container {
    background-color: #FFFFFF;
    padding: 30px 0px 30px 0px;
    width: 100%;
}

.accessibility {
    padding: 40px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: left;
}

.accesibility__header {
    font-size: 26px;
    font-weight: 600; 
}

.accesibility__text {
    font-size: 17px;
    font-weight: 300; 
}

.accesibility__image-source {
    height: 100%;
    width: 100%;
}

.accesibility__smallheader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}

.accesibility__text--bold{
    font-size: 17px;
    font-weight: 600;
}

.accessibility__arrow {
    width: 20px;
    height: 20px;
}

/* business section */

.business {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
    background-color: #F4F4Fa;
}

.business__image-source {
    width: 60px;
    height: 40px;
}

.business__headers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.business-pic__header {
    font-size: 30px;
    font-weight: 600;
}

.business__header {
    font-size: 30px;
    font-weight: 600;
}

.business__headertext {
    font-size: 5px;
    font-weight: 60;   
    
}

.business__headerh {
    font-size: 7px;
    font-weight: 60;  
}

.business__text {
    font-size: 17px;
    width: 100%;
    font-weight: 300;
}

.business__button-source {
    line-height: 2.5;
    padding: 0px 7px 0px 7px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.8);
    max-width: 120px;
}

.business__partner-image {
    padding-top: 50px;
}

.business__partner-image-source {
    width: 60%;
    height: 60%;
}

.second__button-feedback-imright {
    padding-top: 30px;
}

.business__arrow {
    padding-top: 5px;
    width: 25px;
    height: 25px;
}

/* Driver type choose */

.type {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 100px;
}

.type__block {
    display: flex;
    flex-direction: row;
    height: 55px;
    border-bottom: 1px solid black;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.type__text--bold{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.type__arrow {
    width: 20px;
    height: 20px;
}

.type__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.type__button {
    line-height: 2.5;
    padding: 0px 7px 0px 7px;
    border: 1px solid black;
    width: 140px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.8);
}

/* social media footer section*/

.type__social {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.type__social-wrapper {
    padding: 15px 6px 6px 6px;
}

.type__social-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer {
    display: flex;
    justify-content: right;
    font-size: 3px;
    background-color: #FFFFFF;
}

.footer__text {
    color: #000000;
    line-height: 2;
    font-size: 13px;
    text-transform: uppercase;
}

.footer__right {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.type__social-icon {
    width: 10px;
    height: 10px;
}

.type__driver {
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.type__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.business__partner-image-source-delta {
    display: none;
}

.business__partner-image-source-ascension {
    display: none;
}

.type__header {
    text-transform: uppercase;
}

@media only screen and (min-width: 480px) {
    .let-ride__buttons {
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px) {
    .ride__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .ride__screenshot {
        width: 40%;
        height: 40%;
        max-width: 40%;
        max-height: 40%;
        padding-left: 100px;
    }

    .ride__pink {
        text-align: left;
        align-items: flex-start;
    }

    .estimation__container {
        height: 170px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .estimation__textareas {
        flex-direction: row;
        width: 400px;
    }

    .estimation_textarea {
        width: 160px;
        font-size: 12px;
        text-align: center;
    }

    .estimation__buttons {
        width: 0px;
        height: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .estimation__button {
        width: 90px;
        height: 56px;
        font-size: 14px;
        line-height: 1.5;
    }

    .safety__container {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        align-items:flex-start
    }

    .safety__image-source {
        max-width: 700px;
        max-height: 300px;
    }

    .button__with-text {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .safety__button {
        font-size: 14px;
        max-width: 160px;
        padding: 10px;
    }

    .safety__bold {
        font-size: 14px;
        width: 90%
    }

    .safety__text {
        max-width: 400px;
    }

    .safety__smallheader {
        gap: 20px;
    }

    .type__block {
        display: none;
    }

    .type__driver {
        display: flex;
        flex-direction: column;
        gap: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .type {
        flex-direction: row;
        justify-content: center;
        text-align: left;
        align-items: flex-start;
    }

    .type__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        display: flex;
        text-align: left;
    }

    .type__buttons {
        padding-top: 20px;
    }

    .footer__right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .drive-with__container {
        display: flex;
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
    }

    .drive-with__woman {
        width: 50%;
        height: 50%;
        max-height: 70%;
        max-width: 70%;
        padding-left: 15px;
    }

    .drive-with__feedback {
        padding: 50px;
    }

    .safety {
        padding: 100px;
        align-items: center;
        justify-content: center;
    }

    .safety__text--bold {
        width: 50%;
    }

    .accessibility {
        padding: 50px;
    }

    .business__partner-image-source-delta {
        display: flex;
        width: 10%;
        height: 20%;
        max-width: 10%;
        max-height: 20%;
    }

    .business__partner-image-source-ascension {
        display: flex;
        width: 10%;
        height: 20%;
        max-width: 10%;
        max-height: 20%;
    }

    .business__partner-image-source {
        width: 10%;
        height: 20%;
        max-width: 10%;
        max-height: 20%;
    }

    .business__partner-image {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) {
    .ride__getride {
        align-items: flex-start;
    }

    .ride__head {
        text-align: left;
    }

    .safety__smallheader {
        gap: 10px;
    }

    .let-ride__container {
        display: flex;
        flex-direction: row-reverse;
        padding: 100px 0px 100px 0px;
        justify-content:center;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
        max-width: 1024px;
    }

    .let-ride__image{
        width: 80%;
        height: 80%;
    }

    .drive-with__woman {
        width: 40%;
        height: 70%;
        max-height: 70%;
        max-width: 70%;
        padding-left: 15px;
    }

    .header {
        justify-content: flex-start;
    }

    .header__burger {
        display: none;
    }

    .header__nav {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        height: 100%
    }

    .header__list {
        width: 70px;
        height: 100%;
        border-left: 0.5px solid gray;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 20px
    }

    .header__text {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
    }

    .header__textarea {
        min-width: 330px;
        max-width: 330px;
    }

    .let-ride {
        padding-left: 300px;
        padding-right: 300px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .drive-with__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .drive-with__woman {
        width: 20%;
        height: 40%;
        max-width: 20%;
        max-height: 40%;
    }

    .drive-with__feedback-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }

    .drive-with__feedback-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }

    .drive-with__feedback-group {
        display: flex;
        flex-direction: row;
        padding-top: 100px;
        padding-left: 25%;
        padding-right: 25%;
        gap: 10px;

    }

    .drive-with__feedback {
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0px;
        gap: 0px;
    }

    .accesibility__image-source {
        max-width: 1400px;
    }

    .accessibility {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .accesibility__header{
        max-width: 1400px;
    }

    .accesibility__text {
        max-width: 1400px;
    }

    .drive-with__buttons {
        flex-direction: row;
    }

    .point {
        height: 8px;
        width: 8px;
    }

    .drive-with__points {
        gap: 10px;
    }

    .drive-with__slider {
        padding-top: 50px;
        gap: 30px;
    }

    .drive-with__arrow {
        width: 35px;
        height: 35px;
    }
}
